.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  text-decoration: none;
}

.btn-treehouse:hover {
  opacity: 0.6;
  background: #6AD58B;
  text-decoration: none;
  color: white;
}